body{
  background-color: #333;
}
.section_top{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
  background-image:url(img.jpg);
  background-position:center;
  background-repeat: no repeat;
  background-size:cover;
  text-align:center;
  justify-content:center;
  animation: change 10s infinite ease-in-out;
}
/* Can Add More Images just change the seconds or percentages. */
@keyframes change{
  0%
  {
    background-image:url(example1.png);
  }  20%
  {
    background-image:url(example2.png);
  }  40%
  {
    background-image:url(example3.png);
  }  60%
  {
    background-image:url(example4.png);
  }  80%
  {
    background-image:url(example5.png);
  }  100%
  {
    background-image:url(example6.png);
  }
}

.content{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.content h1{
  color:#fff;
  font-size:60px;
  letter-spacing: 5px;
}
.content h1 span{
  color:#E0479E;
}

/* Main + Header + Footer */
header{
  
}
main{
  
}
footer{
  
}























/* Anchor Tags */

.content a:link {
  background:#fadf7f;
  padding: 10px 24px;
  text-decoration: none;
  border-radius: 15px;
}

.content a:visited {
  text-decoration: none;
}

.content a:hover {
  background:#d9b26f;
  color:#fff;
}

.content a:active {
  text-decoration: underline;
}
